<h1 class="cover-heading">Table Example</h1>
<div class="container bg-light text-dark">
<table class="table table-striped">
<thead>
<tr>
<th>Framework</th>
<th>URL</th>
</tr>
</thead>
<tbody>
  <% for (let i in content ) { %>
<tr>
<td><%=content[i].RSV_SUM%></td>
<td><%=content[i].RSV_SUM%></td>
</tr>
<%};%>
</tbody>
</table>

<!-- <ul>
       <% for (let i in content ) { %>
            <li>
                <h2>
                    <%= content[i].RSV_SUM %>
                </h2>
                <p>
                    <%= content[i].RSV_SUM %>
                </p>
            </li>
            <hr />
        <% } %>
    </ul> -->

<!-- <table>
  <thead>
  <tr>
      <th>항목 div</th>
      <th>기준년월</th>
      <th>비교년월</th>
      <th>증감</th>

  </tr>
  </thead>
  <tbody>
  <% for (let i in content ) { %>
  <tr>
      <% let obj=content[i]; %>
      <td><%= obj.RSV_SUM %></td>
      <td><%= obj.PREM_SUM %></td>
      <td><%= obj.LT_RM %></td>
      <td><%= obj.CL_LOAN_SUM %></td>
  </tr>
  <% } %>
  </tbody>
</table> -->